// Fondo general
ion-content {
  --background: #f8f9fa;
}

// Estilos del Toolbar
.header-title {
  font-weight: 700;
  color: #333;
}

// Sección de Compartir Ubicación
.location-box {
  margin-bottom: 25px;
  
  .loc-text {
    color: #666;
    font-size: 14px;
    margin-bottom: 10px;
  }

  .btn-location {
    --border-radius: 12px;
    --background: #3880ff;
    --box-shadow: 0 4px 10px rgba(56, 128, 255, 0.3);
    font-weight: 600;
    height: 50px;
  }
}

.section-title {
  font-size: 18px;
  font-weight: 700;
  color: #333;
  margin-bottom: 15px;
  padding-left: 5px;
}

// Tarjeta de Farmacia
.pharmacy-card {
  background: white;
  border-radius: 16px;
  padding: 15px;
  margin-bottom: 15px;
  display: flex;
  align-items: center; /* Alinea verticalmente al centro */
  box-shadow: 0 4px 12px rgba(0,0,0,0.04);
  
  // 1. Imagen (Izquierda)
  .card-img {
    width: 60px;
    height: 60px;
    background: #f0f4f8;
    border-radius: 12px;
    padding: 10px;
    margin-right: 15px;
    display: flex;
    align-items: center;
    justify-content: center;

    img {
      width: 100%;
      height: 100%;
      object-fit: contain;
    }
  }

  // 2. Info (Centro)
  .card-info {
    flex: 1; /* Ocupa el espacio sobrante */
    
    h2 {
      margin: 0 0 4px 0;
      font-size: 16px;
      font-weight: 700;
      color: #222;
    }
    
    .address {
      margin: 0 0 6px 0;
      font-size: 12px;
      color: #888;
      line-height: 1.3;
    }

    .rating-container {
      display: flex;
      align-items: center;
      
      ion-icon {
        font-size: 12px;
        margin-right: 1px;
      }
      
      .rate-number {
        font-size: 12px;
        font-weight: 600;
        color: #666;
        margin-left: 5px;
        background: #eee;
        padding: 2px 6px;
        border-radius: 4px;
      }
    }
  }

  // 3. Botón (Derecha)
  .card-action {
    margin-left: 10px;
    
    ion-button {
      font-weight: 600;
      --box-shadow: none;
      font-size: 12px;
      width: 80px;
    }
  }
}