<ion-header [translucent]="true" class="ion-no-border">
  </ion-header>

<ion-content [fullscreen]="true" class="bg-light ion-padding">
  
  <div class="header-container">
    <div class="text-content">
      <p class="greeting">Hola de nuevo,</p>
      <h1 class="user-name">Roberto</h1>
    </div>
    <ion-button fill="clear" class="notif-btn">
      <ion-icon name="notifications-outline"></ion-icon>
      <div class="badge-dot" *ngIf="cantidadPendientes > 0"></div>
    </ion-button>
  </div>

  <div class="status-card animate-up">
    <div class="status-content">
      
      <div *ngIf="cantidadPendientes > 0">
        <h3>Tu salud al día</h3>
        <p>Tienes <strong>{{ cantidadPendientes }}</strong> recordatorios pendientes.</p>
      </div>

      <div *ngIf="cantidadPendientes === 0">
        <h3>Todo despejado</h3>
        <p>No tienes recordatorios activos.</p>
      </div>

      <ion-button size="small" color="light" (click)="irA('/tabs/tab2')">
        {{ cantidadPendientes > 0 ? 'Ver Agenda' : 'Crear Recordatorio' }}
      </ion-button>
    </div>
    <img src="https://cdn-icons-png.flaticon.com/512/3063/3063822.png" class="status-img" alt="doctor">
  </div>

  <h3 class="section-title">Acciones Rápidas</h3>

  <ion-grid class="ion-no-padding">
    <ion-row>
      
      <ion-col size="12">
        <div class="action-card animate-up delay-1" (click)="irA('/tabs/tab2')">
          <div class="icon-box blue">
            <ion-icon name="calendar-number-outline"></ion-icon>
          </div>
          <span class="card-title">Calendario</span>
          <span class="card-desc">Citas y recordatorios</span>
        </div>
      </ion-col>

      <ion-col size="12">
        <div class="action-card animate-up delay-2" (click)="irA('/tabs/tab4')">
          <div class="icon-box green">
            <ion-icon name="map-outline"></ion-icon>
          </div>
          <span class="card-title">Farmacias</span>
          <span class="card-desc">Cerca de ti</span>
        </div>
      </ion-col>

      <ion-col size="12">
        <div class="action-card animate-up delay-3" (click)="irA('/tabs/tab5')">
          <div class="icon-box orange">
            <ion-icon name="medkit-outline"></ion-icon>
          </div>
          <span class="card-title">Botiquín</span>
          <span class="card-desc">Gestionar medicinas</span>
        </div>
      </ion-col>

      <ion-col size="12">
        <div class="action-card animate-up delay-4" (click)="irA('/tabs/tab6')">
          <div class="icon-box red">
            <ion-icon name="heart-circle-outline"></ion-icon>
          </div>
          <span class="card-title">Bienestar</span>
          <span class="card-desc">Reportar estado</span>
        </div>
      </ion-col>

    </ion-row>
  </ion-grid>

</ion-content>